.root {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-canvas-bg);
  position: relative;
}

.pagesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0 48px;
  min-width: min-content;
  width: 100%;
}
